<div class="form-container">
  <%= form_with url: pull_book_info_scraping_path, method: :post, local: true do |f| %>
    <div>
      <%= f.label :book_url, "Copy the link and paste here" %>
      <%= f.text_field :book_url, required: true, class: "form-control" %>
    </div>
    <div>
      <%= f.submit "Save Ebook", class: "btn-success" %>
    </div>
  <% end %>
</div>