<% content_for :title, "New Search" %>

<h1 class="page-title">New Scraping</h1>

<%= render "search_form" %>

<br>

<div>
  <%= link_to "Back to ebooks", ebooks_path, class: "btn-secondary" %>
</div>