<% content_for :title, "New Search" %>

<h1 class="page-title">New Scraping</h1>

<div class="informative">
  <p><strong>Note:</strong> To perform the scraping, choose an ebook link from
    <a href="https://books.toscrape.com/index.html" target="_blank" rel="noopener noreferrer">this website</a>.
  </p>
</div>

<%= render "search_form" %>

<br>

<div>
  <%= link_to "Back to ebooks", ebooks_path, class: "btn-secondary" %>
</div>