<div class="import-container">
  <h2 class="import-title">Import E-books</h2>
  <p class="import-description">Select a CSV file to import a list of ebooks. Make sure the file is in the correct format.</p>

  <%= render 'import_form' %>

  <div class="import-button-container">
    <%= link_to "Back to ebooks", ebooks_path, class: "btn-secondary" %>
  </div>
</div>
