<% content_for :title, "New ebook" %>

<h1 class="page-title">New ebook</h1>

<%= render "form", ebook: @ebook %>

<br>

<div>
  <%= link_to "Back to ebooks", ebooks_path, class: "btn-secondary" %>
</div>
