<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="logo">Ebook Hub</a>
    <ul class="menu">
      <li><span class="user-email">user@mail.com</span></li>
      <li><%= link_to 'Edit Profile', "#", class: "link" %></li>
      <li><%= link_to 'Logout', "#", data: { turbo_method: :delete }, class: "link" %></li>
    </ul>
  </div>
</nav>

<nav class="navbar">
  <div class="navbar-container">
    <ul class="menu">
      <li><%= link_to "Home", root_path, class: "menu-item active" %></li>
      <li><%= link_to "Ebooks", "#", class: "menu-item" %></li>
    </ul>
  </div>
</nav>
